/*
    main-color: #3282B8
    sec-color: #0F4C75
    dark-color: #1B262C
    light-color: #BBE1FA

    # This styleSheet editing some main components and has some classes you can use
    - Buttons: main-btn, round-btn
*/
.header-label {
    -fx-text-fill: black;
    -fx-font-family: "Segoe UI Semibold";
}
.header-p {
    -fx-text-fill: #666;
}
.main-btn {
    -fx-background-color: #3282B8;
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-padding: 7 20;
    -fx-border-width: 0;
    -fx-border-radius: 5px;       /* Rounded corners */
    -fx-background-radius: 5px;  /* Background rounding */
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
}

.sec-btn {
    -fx-background-color: #E6E6E6;
    -fx-font-size: 15;
    -fx-text-fill: rgb(150, 150, 150);
    -fx-padding: 7 20;
    -fx-border-width: 0.5;
    -fx-border-color: rgba(0, 0, 0, 0.17);
    -fx-border-radius: 5px;       /* Rounded corners */
    -fx-background-radius: 5px;  /* Background rounding */
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
}

.sec-btn:hover {
    -fx-background-color: #EAEAEA;
}

.round-btn {
    -fx-background-color: #3282B8;
    -fx-border-width: 0;
    -fx-border-radius: 50%;       /* Rounded corners */
    -fx-background-radius: 50%;  /* Background rounding */
}

.main-btn:hover, .round-btn:hover {
    -fx-background-color: #3690ce;
}

.text-field {
    -fx-background-color: #E2E2E2; /* Background color */
    -fx-border-width: 0.7;        /* Border width */
    -fx-border-color: transparent;
    -fx-border-radius: 5px;       /* Rounded corners */
    -fx-background-radius: 5px;  /* Background rounding */
    -fx-text-fill: black;       /* Text color */
    -fx-font-size: 15px;          /* Font size */
    -fx-padding: 5px;             /* Inner padding */
    -fx-prompt-text-fill: #aaaaaa; /* Placeholder text color */
}

.text-field:focused {
    -fx-border-color: #3282B8;   /* Border color when focused */
    -fx-background-color: #ffffff; /* Background when focused */
}
.scroll-pane {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent; /* Remove the gray border */
    -fx-background-color: transparent; /* Remove the background color */
}
.scroll-pane .viewport {
    -fx-background-color: transparent;
}
.scroll-pane .scroll-bar {
    -fx-padding: 14 0 0 0;
    -fx-background-color: transparent;
}
.thumb {
    -fx-background-color: #3282B8;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-padding: 0;
    -fx-shape: "";
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.choice-box {
    -fx-background-color: #EAEAEA;
    -fx-border-width: 0.5;
    -fx-border-color: rgba(0, 0, 0, 0.17);
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.choice-box:selected {
    -fx-background-color: #3282B8;
}
.choice-box .arrow {
    -fx-background-color: rgba(0, 0, 0, 0.34);
}
.choice-box .context-menu {
    -fx-background-color: #EAEAEA;
    -fx-border-width: 0.5;
    -fx-border-color: rgba(0, 0, 0, 0.17);
    -fx-background-radius: 4;
    -fx-border-radius: 4;
}
.choice-box .menu-item {
    -fx-background-color: #EAEAEA;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.choice-box .menu-item:hover {
    -fx-background-color: #BBE1FA; /* Background on hover */
}
.choice-box .menu-item:focused {
    -fx-background-color: #3282B8;
}
.info-icon {
    -fx-border-width: 1;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-padding: 8;
    -fx-border-color: rgba(0, 0, 0, 0.12);
}

.info-header {
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: rgba(0, 0, 0, 0.4);
    -fx-font-size: 16;
    -fx-padding: 0;
}
.info-text {
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
    -fx-text-fill: #3282B8;
    -fx-font-size: 16;
    -fx-padding: 0;
}
.warning {
    -fx-background-color: rgb(255, 229, 229);
    -fx-border-width: 0.5;
    -fx-border-color: rgb(211, 76, 76);
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: rgb(211, 76, 76);
    -fx-font-size: 18;
    -fx-padding: 10;
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}
.timer {
    -fx-background-color: #EAEAEA;
    -fx-border-width: 0.5;
    -fx-border-color: rgba(0, 0, 0, 0.12);
    -fx-background-radius: 7;
    -fx-border-radius: 7;
    -fx-padding: 20 10;
}

.timer .label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: gray;
    -fx-font-size: 18;
}

.vbox-table {
    -fx-background-color: #EEE;
    -fx-border-width: 1;
    -fx-border-color: rgba(0, 0, 0, 0.2);
    -fx-background-radius: 7;
    -fx-border-radius: 7;
    /*-fx-padding: 20 0;*/
}

.vbox-table-row {
    -fx-background-color: #EEE;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: rgba(0, 0, 0, 0.2);
    -fx-background-radius: 10;
    /*-fx-padding: 20 0;*/
}
.vbox-table-row .label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: gray;
    -fx-font-size: 16;
    -fx-background-color: #EEE;
    -fx-border-width: 0 0 0 1;
    -fx-background-radius: 10;
    -fx-border-color: rgba(0, 0, 0, 0.2);
    -fx-padding: 0 0 0 10;
}
.vbox-table-row .first-row {
    -fx-border-width: 0;
}
.last-row {
    -fx-border-width: 0;
}
.more-btn {
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width: 0;
    -fx-padding: 2 1;
}

.more-btn:hover {
    -fx-background-color: rgba(0, 0, 0, 0.06);
}

/* Style the ContextMenu */
.context-menu {
    -fx-background-color: #EAEAEA;
    -fx-border-width: 0.5;
    -fx-border-color: rgba(0, 0, 0, 0.17);
    -fx-background-radius: 4;
    -fx-border-radius: 4;
}

.menu-item {
    -fx-background-color: #EAEAEA;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-cursor: hand;
    -fx-padding: 5 10;
}

.menu-item .label{
    -fx-border-width: 0;
}

.menu-item:hover {
    -fx-background-color: #3282B8;
}

.menu-item:hover .label {
    -fx-background-color: #3282B8;
    -fx-text-fill: white;
}

.menu-item:focused {
    /*-fx-background-color: #3282B8;*/
}

.user-data-field {
    -fx-text-fill: gray;
}
.user-data-field:disabled {
    -fx-opacity: 1.0; /* Prevent graying out */
    -fx-background-color: #E2E2E2; /* Optional: ensure background stays the same */
}
.text-field-top-btn {

}
