.parent {
    -fx-background-color: #EEE;
    -fx-font-family: "Segoe UI Semibold";
}

.side-menu {
    -fx-background-color: #E2E2E2;
    -fx-font-family: "Segoe UI Semibold";
}

.menu-btn {
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width: 0;
    -fx-padding: 8 12 8 0;
}
.back-btn {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 5;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.menu-btn:hover, .back-btn:hover{
    -fx-background-color: rgba(0, 0, 0, 0.06);
}
.active-btn {
    -fx-text-fill: white;
    -fx-background-color: #3282B8;
}
.active-btn:hover {
    -fx-text-fill: white;
    -fx-background-color: #3282B8;
}

.course {
    -fx-background-color: white;
    -fx-border-width: 1;
    -fx-border-color: rgba(0, 0, 0, 0.17);
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}
.course .data {
    -fx-background-color: #EAEAEA;
    -fx-background-radius: 0  0 8 8;
    -fx-border-radius: 0  0 8 8;
}
.course .label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-background-color: #EAEAEA;
    -fx-text-fill: #1B262C;
    -fx-background-radius: 0  0 8 8;
    -fx-border-radius: 0  0 8 8;
    -fx-padding: 7 15;
}
.course:hover .label {
    -fx-text-fill: #3282B8;
}
.course:hover {
    -fx-border-color: #3282B8;
}
.course .info {
    -fx-text-fill: rgba(0, 0, 0, 0.5);
    -fx-padding: 0 0 10 15;
    -fx-font-size: 10;
}

.question {
    -fx-background-color: #F2F2F2;
    -fx-border-width: 0.5;
    -fx-border-color: rgba(0, 0, 0, 0.2);
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}
.question-error {
    -fx-border-width: 0.5;
    -fx-border-color: red;
}

.correct-short-answer {
    -fx-background-color: #c2ffc2;
    -fx-border-width: 0.5;
    -fx-border-color: green;
}

.statement, .toggle-choice {
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: gray;
    -fx-font-size: 18;
    -fx-background-color: #F2F2F2;
    -fx-border-width: 0.5;
    -fx-border-color: rgba(0, 0, 0, 0.12);
    -fx-background-radius: 7;
    -fx-border-radius: 7;
    -fx-padding: 7 20 7 50;
}

.statement {
    -fx-border-width: 0 0 0.5 0;
    -fx-padding: 15 20 20 50;
}

.toggle-choice:hover {
    -fx-border-color: #3282B8;
}
.toggle-choice:selected {
    -fx-border-color: #3282B8;
    -fx-border-width: 1;
}
.choice-no {
    -fx-background-color: #3282B8;
    -fx-padding: 10;
    -fx-background-radius: 7 0 0 7;
    -fx-border-radius: 7 0 0 7;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-text-fill: white;
}
.qno {
    -fx-background-color: #1B262C;
    -fx-padding: 10;
    -fx-background-radius: 7 0 7 0;
    -fx-border-radius: 7 0 7 0;
}

.qno .label {
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-text-fill: white;
}
.short-answer-label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16;
    -fx-text-fill: #3282B8;
}

.green-choice-answer {
    -fx-background-color: #c2ffc2;
    -fx-pref-height: 44;
}
.red-choice-answer {
    -fx-background-color: #ff9393;
    -fx-pref-height: 44;
}
.consume-toggle {
    -fx-cursor: default;
}
.consume-toggle:hover {
    -fx-border-color: rgba(0, 0, 0, 0.12);
}
